.infoSoma {
  display: flex;
  box-shadow: 0px 4px 30px -10px #00000040;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.infoAlter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
}

.valorTotal {
  background: black;
  color: white;
  font-family: "Poppins";
  padding: 10px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.carrinho {
  max-height: 400px;
  min-height: 400px;
}

.bagTotal {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  font-family: "Poppins";
}
